#hnmain {
    border: 0;
    padding: 0;
    border-spacing: 0;
    width: 85%;
    background-color: #f6f6ef;
}
#idk {
    background-color: #ff6600;
}

#bar-table{
    border: 0;
    padding: 2px;
    border-spacing: 0;
    width: 100%;

}

#logo {
    width: 18px;
    padding-right: 4px;

}

#logo-image {
    width: 18;
    height: 18;
    border: 1px solid white;
}

#bar-links{
    line-height: 12pt;
    height: 10px;
}
#pagespace{
    height: 10px;
}
#table-news{
    border: 0;
    padding: 0;
    border-spacing: 0;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: #828282;
}
a:visited{
    color: #828282;
}
.comhead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    color: #828282;
}